= table_for(Blog::Comment, :id => "post-comments") do |table|
  - table.rows(@post.all_comments) do |row, comment|
    = row.column(:comment) do
      = simple_format(comment.comment)
      
      %p.posted-by
        Posted by #{mail_to(comment.email, comment.email_with_author_name)}
      
    = row.column(:posted_at, :class => "blog-timestamp") do
      =l comment.posted_at, :format => :blog_date
      %small=l comment.posted_at, :format => :blog_time
    
    - if @post.moderation_required?
      = row.column(:status, :header => nil) do
        = link_to comment.approved? ? "Approved" : "Pending", moderate_blog_post_comment_path(@blog, @post, comment), :class => ["post-status", comment.approved? ? "approved" : "pending"], :title => "Click to moderate this comment."
    
    = row.controls do |c|
      = link_to icon(:delete), blog_post_comment_path(@blog, @post, comment), :class => "delete", "data-loading" => flash_message(comment, 'deleting'), "data-confirm" => flash_message(comment, 'confirm.delete'), :title => "Click to delete this comment."
  
  - table.empty do
    No comments have been posted.

- if @post.moderation_required?
  - content_for(:javascript) do
    = javascript_include_tag "wheelhouse-blog/admin"
    