- content_for(:head) do
  = stylesheet_link_tag "wheelhouse-blog/admin"

- form! [@blog, @post], :as => :post, :url => @post.admin_path

- tab :content  => "content"
- tab :comments => "comments" if @blog.comments_enabled?
  
- sidebar(:options) do
  = sidebar_expander "Publishing Options" do
    = field :published_at do
      = form.datetime :published_at, :value => @post.read_attribute(:published_at) || ""
    
    = field :permalink do
      = form.permalink :permalink
  
  = sidebar_expander "Tags & Categories" do
    = field :categories do
      = form.checkboxes :categories, @blog.categories, :editable => true, :placeholder => "Add a category..."

    = field :tags do
      = form.tags :tags, @blog.tags, :placeholder => "Add a tag..."
