.buttons
  = link_to "New Post", new_blog_post_path(@blog), :class => 'add'

- @posts = @blog.posts_for_admin.paginate(:page => params[:p])

= table_for Blog::Post, :id => "blog-posts" do |table|
  - table.rows(@posts) do |row, post|
    - row.resource = post
    
    = row.column(:title, :link => true)
    = row.column(:author) { post.author_name || 'None' }
    
    - if @blog.comments_enabled?
      = row.column(:comments, :class => "comments") { post.comments.size }
    
    = row.column(:published_at) { post.published? ? post.published_at.to_s(:short) : 'Draft' }
    = row.controls do |c|
      = c.delete
  
  - table.empty do
    No blog posts have been created.
    = link_to "Create a new post.", new_blog_post_path(@blog)

= will_paginate @posts
