- tab :posts => 'posts' if @blog.persisted?

- tab :blog_settings do
  = field :title do
    = form.text_field :title, :title => true

  = content

- sidebar do
  .buttons
    = button "Save Settings", :icon => :publish, :submit => true, :id => "save-and-publish"
  
  %hr
  
  %dl
    = navigation_options
    = template_options
  
  - if @blog.persisted?
    %hr
    = owner
    