- tab :posts => 'posts' if @blog.persisted?

- tab :blog_settings do
  = field :title do
    = form.text_field :title, :title => true

  = content

- sidebar do
  .buttons
    = button "Save Settings", :icon => :publish, :submit => true, :id => "save-and-publish"
  
  %hr
  
  %dl
    = navigation_options
    = template_options
    = sidebar_expander :pagination_options do
      = field :posts_per_page, :class => "fixed posts-per-page" do
        = form.text_field :posts_per_page
  
  - if @blog.persisted?
    %hr
    = owner

- content_for(:head) do
  = stylesheet_link_tag "wheelhouse-blog/admin"
