- title "Archive - #{Date::MONTHNAMES[@month]} #{@year} - #{@blog.title}"
- breadcrumb "#{Date::MONTHNAMES[@month]} #{@year}"

= render :layout => "layout", :locals => { :title => @blog.title, :description => "Posts from: #{Date::MONTHNAMES[@month]} #{@year}" } do
  = render :partial => "post", :collection => @posts
