- title ["Category: #{params[:category].titlecase}", @blog.title].join(' - ')
- breadcrumb "Category: #{params[:category].titlecase}"

= render :layout => "layout", :locals => { :description => "Posts in category: #{params[:category].titlecase}" } do
  = render :partial => "post", :collection => @posts
