- title ["Tag: #{params[:tag]}", @blog.title].join(' - ')
- breadcrumb "Tag: #{params[:tag]}"

= render :layout => "layout", :locals => { :description => "Posts tagged: #{params[:tag]}" } do
  = render :partial => "post", :collection => @posts
